a.anchor {
    visibility: hidden;
    color: inherit;
    fill: currentColor;
    // float: left;
    padding-right: 4px;
    margin-left: -20px;
}

h1, h2, h3, h4, h5, h6 {
    &:hover a.anchor {
        visibility: visible;
    }

    @media (hover: none) {
        a.anchor {
            visibility: visible;
        }
    }
}

/* https://spigotdesign.com/smooth-scroll-offset-anchor-links-with-css/ */
:target:before {
    content: "";
    display: block;
    height: 80px;
    margin-top: -80px;

    @media (max-width: 600px) {
        height: 64px;
        margin-top: -64px;
    }
}