a.anchor {
    display: none;
    color: inherit;
    fill: currentColor;
    padding-right: 4px;
    margin-left: -20px;
}

h1, h2, h3, h4, h5, h6 {
    &:hover a.anchor {
        display: initial;    
    }
}